 @font-face {
  font-family: "mukta";
  src: url(../fonts/Mukta-Regular.ttf);
}

:root {
  --color1: rgb(225, 225, 225);
  --color2: rgb(205, 203, 203);
  --font-1: "mukta";
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px; 
  background-color: var(--color1);
}

.container {
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 5rem;
  margin: 80px 0 40px;
  font-family: var(--font-1);
}

p {
  font-family: var(--font-1);
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 400;
  padding-bottom: 20px;
}

pre {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

code {
  font-family: var(--font-1);
  font-size: 1.4rem !important;
  line-height: 2rem;
  font-style: italic;
  padding: 30px 40px;
  margin: 20px 0;
  width: 80%;
  background-color:var(--color2);
}
